<!DOCTYPE html>
<html>
  <head>
    <title>Super duper chat app</title>
    <script type="text/javascript">
      const init = () => {
          const ws = new WebSocket('ws://localhost:8000/chat_ws');

          const form = document.getElementById('send-form');

          form.addEventListener('submit', (event) => {
              event.preventDefault();
              const input = document.getElementById('input');
              const data = input.value;
              ws.send(data);
              input.value = '';
          });

          ws.addEventListener('message', function (event) {
              const results = document.getElementById('results');
              const paragraph = document.createElement('p');
              paragraph.innerText = event.data;
              results.appendChild(paragraph);
          });
      };

      window.addEventListener('DOMContentLoaded', init);
    </script>
  </head>
  <body>
    <h1>Super duper chat app</h1>
    <form action="#" id="send-form">
      <input type="text" id="input">
      <button type="submit">Send</button>
    </form>
    <div id="results"></div>
  </body>
</html>
